body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background-color: gray;
    color: black;
}

header {
    background-color: black;
    color: gold;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    letter-spacing: 2px;
}

header h1 img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 6px;
}


.container {
    display: flex;
    min-height: 80vh;
}

nav {
    width: 220px;
    background-color: white;
    border-right: 2px solid black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: rgb(219, 202, 105);
    color: white;
}

main {
    flex: 1;
    padding: 30px;
    background-color: white;
}

main p {
    text-align: center;
}

form {
    margin: 0 auto;
}

form button {
    display: block;
    margin: 0 auto;
}


main h2 {
    text-align: center;
}


.products {
    display: flex;
    gap: 30px;
    justify-content: center;
}


.product-card {
    width: 220px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

form {
    max-width: 400px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    font-family: inherit;
}

form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.about-page main {
    background-color: rgb(223, 223, 223);
}


form button:hover {
    background-color: gold;
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
